@charset "UTF-8";
/* ==================== 스타일 리셋 */
html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, fieldset, legend, input, button, textarea, form, p, blockquote, th, td, strong, iframe, div {
  margin: 0;
  padding: 0; }

article, aside, canvas, details, figcaption, figure, footer, header, nav, section, summary {
  display: block;
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6, p, th, td, div, label, textarea, a, li, input, button, textarea, select, address {
  color: #333;
  font-size: 12px;
  line-height: 1em;
  letter-spacing: -.03em;
  font-family: 'Noto Sans Korean', Helvetica Neue, 'Apple SD Gothic Neo', '나눔고딕', 'Nanum Gothic', '돋움', Dotum, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-size: 12px; }

cite, address, dfn, var, u, i {
  font-style: normal; }

a:link, a:visited {
  color: #666;
  text-decoration: none; }

*:focus, *:active, *:link, *:visited {
  outline: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

ul, ol {
  list-style: none; }

input, button, textarea, select, img {
  vertical-align: middle;
  outline: none; }

iframe, fieldset, img {
  border: 0;
  -ms-interpolation-mode: bicubic; }

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  border: none;
  background: none;
  overflow: visible; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

button, label {
  cursor: pointer; }

button, input {
  line-height: normal; }

button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none; }

select {
  border: 1px solid #dddad5;
  background-color: #fff; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

a, button {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent; }

#header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 60px;
  background: #fff;
  box-shadow: 0 1px 5px rgba(95, 121, 96, 0.2);
  -webkit-box-shadow: 0 1px 5px rgba(95, 121, 96, 0.2);
  -webkit-transition: opacity 0.5s;
  /* For Safari 3.1 to 6.0 */
  transition: opacity 0.5s; }
  #header.disactive {
    -ms-filter: '"progid:DXImageTransform.Microsoft.Alpha(Opacity=@{ms_filter})"';
    opacity: 0; }
  #header .history_back_button {
    width: 60px;
    height: 60px; }
    #header .history_back_button .history_back_button_icon {
      font-size: 20px;
      color: #5F6079;
      font-weight: bold; }

section[id^="page_"] {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100vh;
  display: block;
  padding-top: 60px;
  background: #F9FAFB;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-transition: left 0.2s;
  /* For Safari 3.1 to 6.0 */
  transition: left 0.2s;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }
  section[id^="page_"].active {
    left: 0; }
  section[id^="page_"] .message_area_wrapper {
    width: 100%;
    padding: 20px 15px 10px 15px; }
    section[id^="page_"] .message_area_wrapper .message_area {
      background: url("../images/linedpaper.png") top left repeat;
      background-size: 412px 300px;
      padding: 10px;
      border-radius: 3px;
      -webkit-border-radius: 3px;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
      -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); }
      section[id^="page_"] .message_area_wrapper .message_area input, section[id^="page_"] .message_area_wrapper .message_area textarea {
        background: transparent;
        border: none;
        width: 100%;
        font-size: 24px;
        color: #5F6079;
        letter-spacing: 3px;
        font-family: 'Nanum Pen Script', serif; }
      section[id^="page_"] .message_area_wrapper .message_area .mail_title, section[id^="page_"] .message_area_wrapper .message_area .title_input {
        height: 49px;
        font-weight: bold; }
      section[id^="page_"] .message_area_wrapper .message_area .mail_title, section[id^="page_"] .message_area_wrapper .message_area .mail_context {
        font-size: 24px;
        font-family: 'Nanum Pen Script', serif; }
      section[id^="page_"] .message_area_wrapper .message_area .content_input {
        min-height: 100px;
        margin-top: 10px;
        line-height: 28px;
        resize: none;
        overflow: hidden; }
  section[id^="page_"] .map_wrapper {
    padding: 15px; }
    section[id^="page_"] .map_wrapper .map_area {
      display: block;
      width: 100%;
      height: 300px;
      border-radius: 3px;
      -webkit-border-radius: 3px;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
      -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
      background-color: #e9e9e9; }
  section[id^="page_"] .bottom_button_wrapper {
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box; }
    section[id^="page_"] .bottom_button_wrapper .comp_button_red_46 {
      display: block;
      width: 100%; }

.input_type_wrapper {
  position: relative; }
  .input_type_wrapper .input_label {
    display: block;
    font-size: 16px;
    font-weight: bold;
    color: #4E4D54;
    padding: 15px 15px 5px 19px; }

.phone_num_input_wrapper {
  display: block;
  width: 100%;
  padding: 0 15px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }
  .phone_num_input_wrapper .phone_num_input_1 {
    display: inline-block;
    width: 85px;
    vertical-align: top; }
  .phone_num_input_wrapper .phone_num_input_2, .phone_num_input_wrapper .phone_num_input_3 {
    position: relative;
    display: inline-block;
    width: 95px;
    padding-left: 10px;
    vertical-align: top;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box; }
    .phone_num_input_wrapper .phone_num_input_2:before, .phone_num_input_wrapper .phone_num_input_3:before {
      display: inline-block;
      content: '';
      width: 4px;
      height: 2px;
      position: absolute;
      top: 50%;
      left: 1px;
      background: #5F6079;
      margin-top: -1px; }
    .phone_num_input_wrapper .phone_num_input_2 .comp_text_input, .phone_num_input_wrapper .phone_num_input_3 .comp_text_input {
      width: 85px; }

.location_words {
  display: block;
  text-align: center;
  padding: 0 15px; }
  .location_words .comp_text_input {
    display: block;
    margin: 5px 0 0 0;
    width: 100%; }
    .location_words .comp_text_input:first-child {
      margin: 0; }

/* ==================== 스타일 리셋 */
/* ==================== 스타일 리셋 */
.comp_button_dark_gray_46 {
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -webkit-transition: all 0.1s;
  /* For Safari 3.1 to 6.0 */
  transition: all 0.1s;
  border: 1px solid #4E4D54;
  background: #4E4D54;
  color: #fff;
  padding: 15px 11px;
  font-size: 14px;
  font-weight: bold; }
  .comp_button_dark_gray_46:disabled, .comp_button_dark_gray_46.disabled {
    border: 1px solid #A1A1A5;
    background: #A1A1A5; }
    .comp_button_dark_gray_46:disabled, .comp_button_dark_gray_46:disabled:active, .comp_button_dark_gray_46:disabled:visited, .comp_button_dark_gray_46:disabled:focus, .comp_button_dark_gray_46:disabled:link, .comp_button_dark_gray_46.disabled, .comp_button_dark_gray_46.disabled:active, .comp_button_dark_gray_46.disabled:visited, .comp_button_dark_gray_46.disabled:focus, .comp_button_dark_gray_46.disabled:link {
      color: #fff; }
  .comp_button_dark_gray_46:active, .comp_button_dark_gray_46:focus {
    border: 1px solid #39383E;
    background: #39383E; }

.comp_button_red_46 {
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -webkit-transition: all 0.1s;
  /* For Safari 3.1 to 6.0 */
  transition: all 0.1s;
  border: 1px solid #C9778C;
  background: #C9778C;
  color: #fff;
  padding: 15px 11px;
  font-size: 14px;
  font-weight: bold; }
  .comp_button_red_46:disabled, .comp_button_red_46.disabled {
    border: 1px solid #A1A1A5;
    background: #A1A1A5; }
    .comp_button_red_46:disabled, .comp_button_red_46:disabled:active, .comp_button_red_46:disabled:visited, .comp_button_red_46:disabled:focus, .comp_button_red_46:disabled:link, .comp_button_red_46.disabled, .comp_button_red_46.disabled:active, .comp_button_red_46.disabled:visited, .comp_button_red_46.disabled:focus, .comp_button_red_46.disabled:link {
      color: #fff; }
  .comp_button_red_46:active, .comp_button_red_46:focus {
    border: 1px solid #BD6E84;
    background: #BD6E84; }

.comp_select {
  position: relative;
  overflow: hidden;
  height: 48px;
  width: 200px;
  padding: 15px 52px 16px 15px;
  border: 2px solid #5F6079;
  background: transparent;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -webkit-transition: border 0.2s;
  /* For Safari 3.1 to 6.0 */
  transition: border 0.2s; }
  .comp_select .ti-arrow-circle-down {
    position: absolute;
    display: block;
    top: 50%;
    right: 12px;
    margin-top: -8px;
    width: 20px;
    height: 20px;
    font-size: 18px;
    content: "\e619"; }
  .comp_select.disabled {
    background: #DEE0E3; }
  .comp_select.focus {
    border-color: #BE747F; }
  .comp_select select {
    min-width: 120px;
    width: 180%;
    border: none;
    font-size: 16px;
    color: #4E4D54;
    background: transparent;
    margin-top: -2px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; }
    .comp_select select:disabled {
      color: #DEE0E3; }
    .comp_select select:focus {
      color: #BE747F; }

.comp_text_input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -webkit-transition: border-color 0.2s, box-shadow 0.2s;
  /* For Safari 3.1 to 6.0 */
  transition: border-color 0.2s, box-shadow 0.2s;
  display: inline-block;
  border: 2px solid #5F6079;
  background: transparent;
  padding: 13px;
  font-size: 16px;
  line-height: 1.2em;
  color: #4E4D54; }
  .comp_text_input:focus {
    border-color: #BE747F;
    box-shadow: 0 0 4px 0 rgba(31, 142, 230, 0.1);
    -webkit-box-shadow: 0 0 4px 0 rgba(31, 142, 230, 0.1); }
  .comp_text_input:disabled {
    background: #DEE0E3;
    color: #F6F6F6; }
  .comp_text_input ::-webkit-input-placeholder {
    color: #5F6079; }
  .comp_text_input ::-moz-placeholder {
    color: #5F6079; }
  .comp_text_input :-ms-input-placeholder {
    color: #5F6079; }
  .comp_text_input :-moz-placeholder {
    color: #5F6079; }

@-webkit-keyframes oscillation {
  from {
    -webkit-transform: rotate(-10deg); }
  to {
    -webkit-transform: rotate(10deg); } }

@-moz-keyframes oscillation {
  from {
    -moz-transform: rotate(-10deg); }
  to {
    -moz-transform: rotate(10deg); } }

#page_home {
  position: relative;
  left: auto;
  top: auto;
  background: #F9FAFB;
  padding-top: 0;
  z-index: 1; }
  #page_home .logo_wrapper {
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    padding-bottom: 210px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box; }
    #page_home .logo_wrapper .logo {
      display: block;
      margin: 0 auto;
      font-size: 100px;
      color: #C9778C;
      -webkit-transform-origin: 50% -40px;
      -moz-transform-origin: 50% -40px;
      -webkit-animation: oscillation 1s ease-in-out infinite alternate;
      -moz-animation: oscillation 1s ease-in-out infinite alternate; }
  #page_home .home_buttons {
    position: absolute;
    width: 100%;
    bottom: 10px;
    left: 0;
    padding: 20px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box; }
    #page_home .home_buttons .home_button {
      display: block;
      width: 100%;
      margin-top: 5px; }

/* ==================== 스타일 리셋 */
/* ==================== 스타일 리셋 */
/* ==================== 스타일 리셋 */
.comp_button_dark_gray_46 {
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -webkit-transition: all 0.1s;
  /* For Safari 3.1 to 6.0 */
  transition: all 0.1s;
  border: 1px solid #4E4D54;
  background: #4E4D54;
  color: #fff;
  padding: 15px 11px;
  font-size: 14px;
  font-weight: bold; }
  .comp_button_dark_gray_46:disabled, .comp_button_dark_gray_46.disabled {
    border: 1px solid #A1A1A5;
    background: #A1A1A5; }
    .comp_button_dark_gray_46:disabled, .comp_button_dark_gray_46:disabled:active, .comp_button_dark_gray_46:disabled:visited, .comp_button_dark_gray_46:disabled:focus, .comp_button_dark_gray_46:disabled:link, .comp_button_dark_gray_46.disabled, .comp_button_dark_gray_46.disabled:active, .comp_button_dark_gray_46.disabled:visited, .comp_button_dark_gray_46.disabled:focus, .comp_button_dark_gray_46.disabled:link {
      color: #fff; }
  .comp_button_dark_gray_46:active, .comp_button_dark_gray_46:focus {
    border: 1px solid #39383E;
    background: #39383E; }

.comp_button_red_46 {
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -webkit-transition: all 0.1s;
  /* For Safari 3.1 to 6.0 */
  transition: all 0.1s;
  border: 1px solid #C9778C;
  background: #C9778C;
  color: #fff;
  padding: 15px 11px;
  font-size: 14px;
  font-weight: bold; }
  .comp_button_red_46:disabled, .comp_button_red_46.disabled {
    border: 1px solid #A1A1A5;
    background: #A1A1A5; }
    .comp_button_red_46:disabled, .comp_button_red_46:disabled:active, .comp_button_red_46:disabled:visited, .comp_button_red_46:disabled:focus, .comp_button_red_46:disabled:link, .comp_button_red_46.disabled, .comp_button_red_46.disabled:active, .comp_button_red_46.disabled:visited, .comp_button_red_46.disabled:focus, .comp_button_red_46.disabled:link {
      color: #fff; }
  .comp_button_red_46:active, .comp_button_red_46:focus {
    border: 1px solid #BD6E84;
    background: #BD6E84; }

.comp_select {
  position: relative;
  overflow: hidden;
  height: 48px;
  width: 200px;
  padding: 15px 52px 16px 15px;
  border: 2px solid #5F6079;
  background: transparent;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -webkit-transition: border 0.2s;
  /* For Safari 3.1 to 6.0 */
  transition: border 0.2s; }
  .comp_select .ti-arrow-circle-down {
    position: absolute;
    display: block;
    top: 50%;
    right: 12px;
    margin-top: -8px;
    width: 20px;
    height: 20px;
    font-size: 18px;
    content: "\e619"; }
  .comp_select.disabled {
    background: #DEE0E3; }
  .comp_select.focus {
    border-color: #BE747F; }
  .comp_select select {
    min-width: 120px;
    width: 180%;
    border: none;
    font-size: 16px;
    color: #4E4D54;
    background: transparent;
    margin-top: -2px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; }
    .comp_select select:disabled {
      color: #DEE0E3; }
    .comp_select select:focus {
      color: #BE747F; }

.comp_text_input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -webkit-transition: border-color 0.2s, box-shadow 0.2s;
  /* For Safari 3.1 to 6.0 */
  transition: border-color 0.2s, box-shadow 0.2s;
  display: inline-block;
  border: 2px solid #5F6079;
  background: transparent;
  padding: 13px;
  font-size: 16px;
  line-height: 1.2em;
  color: #4E4D54; }
  .comp_text_input:focus {
    border-color: #BE747F;
    box-shadow: 0 0 4px 0 rgba(31, 142, 230, 0.1);
    -webkit-box-shadow: 0 0 4px 0 rgba(31, 142, 230, 0.1); }
  .comp_text_input:disabled {
    background: #DEE0E3;
    color: #F6F6F6; }
  .comp_text_input ::-webkit-input-placeholder {
    color: #5F6079; }
  .comp_text_input ::-moz-placeholder {
    color: #5F6079; }
  .comp_text_input :-ms-input-placeholder {
    color: #5F6079; }
  .comp_text_input :-moz-placeholder {
    color: #5F6079; }

#page_receive .bottom_button_wrapper {
  position: absolute;
  bottom: 10px;
  left: 0; }

.cover_loading {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100vh;
  display: none;
  align-items: center;
  background: rgba(0, 0, 0, 0.7); }
  .cover_loading.active {
    display: flex; }

.spinner {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
  text-align: center;
  -webkit-animation: sk-rotate 2.0s infinite linear;
  animation: sk-rotate 2.0s infinite linear; }

.dot1, .dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #DFA599;
  border-radius: 100%;
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out; }

.dot2 {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s; }

@-webkit-keyframes sk-rotate {
  100% {
    -webkit-transform: rotate(360deg); } }

@keyframes sk-rotate {
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg); } }

@-webkit-keyframes sk-bounce {
  0%, 100% {
    -webkit-transform: scale(0); }
  50% {
    -webkit-transform: scale(1); } }

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0);
    -webkit-transform: scale(0); }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1); } }
