@import './mixins';
@import './color_set';

@include style_reset();


$top_nav_header_height: 60px;
#header {
  position: fixed; top: 0; left: 0; z-index: 9999;
  width: 100%; height: $top_nav_header_height;
  background: #fff;
  $shadow_red: red($dark_blue_1);
  $shadow_blue: blue($dark_blue_1);
  $shadow_green: green($dark_blue_1);
  @include box_shadow(0 1px 5px rgba($shadow_red, $shadow_blue, $shadow_green, .2));
  @include transition(opacity .5s);
  &.disactive { @include opacity(0); }
  .history_back_button {
    width: $top_nav_header_height; height: $top_nav_header_height;
    .history_back_button_icon {
      font-size: 20px; color: $dark_blue_1;
      font-weight: bold;
    }
  }
  .nav_logo_text {
    position: absolute;
    top: 16px;
    left: 50%;
    width: 150px;
    margin-left: -70px;
    text-align: center;
    color: $dark_blue_1;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Nanum Pen Script', serif;
  }
}

section[id^="page_"] {
  position: fixed; z-index: 2; top: 0; left: 100%;
  width: 100%; height: 100vh; display: block;
  padding-top: $top_nav_header_height;
  background: #F9FAFB; overflow-y: auto; overflow-x: hidden;
  @include transition(left .2s);
  @include box_sizing(border-box);
  &.active { left: 0; }

  .message_area_wrapper {
    padding: 20px 15px 10px 15px;
    .message_area {
      background: url('../images/linedpaper.png') top left repeat;
      background-size: 412px 300px; padding: 10px;
      @include border_radius(3px);
      @include box_shadow(0 2px 10px rgba(0,0,0,.1));
      input, textarea {
        background: transparent; border: none; width: 100%;
        font-size: 24px; color: $dark_blue_1; letter-spacing: 3px;
        font-family: 'Nanum Pen Script', serif;
      }
      .mail_title, .title_input {
        height: 49px; font-weight: bold;
      }
      .mail_title, .mail_context {
        font-size: 24px; font-family: 'Nanum Pen Script', serif;
      }
      .content_input {
        min-height: 100px; margin-top: 10px;
        line-height: 28px; resize: none;
        overflow: hidden;
      }
    }
  }

  .map_wrapper1 {
    padding: 5px 15px 15px 15px;
    .map_area1 {
      display: block; width: 100%; height: 300px;
      @include border_radius(3px);
      @include box_shadow(0 2px 10px rgba(0,0,0,.1));

      background-color: #e9e9e9;
    }
  }

  .map_wrapper2 {
    padding: 15px;
    height: calc(100% - 15px - 15px - 52px - 15px);
    .map_area2 {
      display: block; width: 100%; height: 100%;
      @include border_radius(3px);
      @include box_shadow(0 2px 10px rgba(0,0,0,.1));

      background-color: red;
    }
  }

  .bottom_button_wrapper {
    width: 100%; padding: 0 15px 15px 15px;
    @include box_sizing(border-box);
    .comp_button_red_46 {
      display: block; width: 100%;
      height: 52px;
    }
  }
}

.input_type_wrapper {
  position: relative;
  .input_label {
    display: block; font-size: 16px; font-weight: bold;
    color: $dark_gray_1; padding: 15px 15px 5px 19px;
  }
}

.phone_num_input_wrapper {
  display: block; width: 100%; padding: 0 15px;
  @include box_sizing(border-box);
  .phone_num_input_1 {
    display: inline-block; width: 85px;
    vertical-align: top;
  }
  .phone_num_input_2, .phone_num_input_3 {
    position: relative; display: inline-block;
    width: 95px; padding-left: 10px;
    vertical-align: top;
    @include box_sizing(border-box);
    &:before {
      display: inline-block; content: ''; width: 4px; height: 2px;
      position: absolute; top: 50%; left: 1px; background: $dark_blue_1;
      margin-top: -1px;
    }
    .comp_text_input { width: 85px; }
  }
}

.location_words {
  display: block; text-align: center;
  padding: 0 15px;
  .comp_text_input {
    display: block; margin: 5px 0 0 0;
    width: 100%;
    &:first-child { margin: 0; }
  }
}

@import './home_style';
@import './receive_style';
@import './loading';
