$dark_gray_1: #4E4D54;
$dark_gray_2: #39383E;

$light_gray_1: #F6F6F6;
$light_gray_2: #DEE0E3;
$light_gray_3: #A1A1A5;

$pastel_red_1: #BE747F;
$pastel_red_2: #C9778C;
$pastel_red_3: #DFA599;

$dark_blue_1: #5F6079;

$pastel_white: #F5F3F0;
