@import './mixins';
@import './color_set';
@import './components';


@-webkit-keyframes paper_out
{
  0% {top: 0;}
  25% {top: -30px;}
  50% {top: 0;}
  75% {top: -30px;}
}

@-moz-keyframes paper_out
{
  0% {top: 0;}
  25% {top: -30px;}
  50% {top: 0;}
  75% {top: -30px;}
}

#page_home {
  position: relative; left: auto; top: auto;
  background: #F9FAFB; padding-top: 0;
  z-index: 1;
  .logo_wrapper {
    display: flex; height: 100vh; width: 100%;
    align-items: center; padding-bottom: 210px;
    @include box_sizing(border-box);
  }
  .home_buttons {
    position: absolute; width: 100%;
    bottom: 10px; left: 0; padding: 20px;
    @include box_sizing(border-box);
    .home_button {
      display: block; width: 100%;
      margin-top: 5px;
    }
  }

  .envelope {
    position: relative;
    margin: 0 auto;
    width: 98px;
    height: 66px;
    background: $pastel_red_1;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 0 1px $pastel_red_1 inset;
    &:before, &:after {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      border: 0 solid transparent;
      border-width: 33px 49px;
    }
    &:before {
      border-bottom-color: $pastel_red_1;
      top: -100%;
      left: 0;
    }
    &:after {
      border-right-color: $pastel_red_1;
      border-left-color: $pastel_red_2;
      border-bottom-color: $pastel_red_2;
      top: 0;
      border-radius: 0 0 5px 5px;
      transform: rotate(360deg);
      box-shadow: 0 1px 1px rgba(0,0,0,0.25);
    }
  }

  .paper {
    background: $light_gray_2;
    width: 87px;
    height: 66px;
    margin: 0 auto;
    border-radius: 5px;
    position: absolute;
    left: 6px;
    top: 0;
    box-shadow: 0 1px 1px rgba(0,0,0,0.25);
    animation: paper_out 7s infinite ease;
    &:before, &:after {
      content: '';
      position: absolute;
      left: 12px;
      background: $light_gray_3;
      height: 4px;
      border-radius: 5px;
    }
    &:before {
      top: 14px;
      width: 31px;
    }
    &:after {
      right: 12px;
      top: 28px;
      box-shadow:
              0 8px 0 $light_gray_3,
              0 16px 0 $light_gray_3,
              0 24px 0 $light_gray_3;
    }
  }
}
