{% extends 'base.twig' %}

{% block title %}
    Seal Seek See
{% endblock %}

{% block css %}
    <style>
        body {
            padding-top: 30px;
        }
    </style>
{% endblock %}

{% block container %}
    <div class="container">
        {# TODO: AJAX #}
        <form action="/letter/check/map" method="post" class="jumbotron">
            <p>내 휴대전화 번호 : <input type="tel" name="receiver_phone" pattern="^\d{3}-\d{3,4}-\d{4}$" autofocus /></p>
            <p>단어 3개</p>
            <p><input type="text" name="word1" required /> <input type="text" name="word2" required /> <input type="text" name="word3" required /></p>
            <p><input type="submit" value="확인하기" /></p>
        </form>
    </div>
{% endblock %}
