<section id="page_find_on_map">
    <div class="map_wrapper">
        <div id="map" class="map_area"></div>
    </div>
    <div class="bottom_button_wrapper">
        <button
                type="button"
                class="receive_button comp_button_red_46 js_page_toggle"
                data-target="read"
        >
            편지 읽기
        </button>
    </div>
</section>
