<section id="page_find_on_map">
    <div class="map_wrapper2">
        <div id="map_for_find_letter" class="map_area2"></div>
    </div>
    <div class="bottom_button_wrapper">
        <button id="read_letter_button" type="button" class="receive_button comp_button_red_46" disabled>
            편지 읽기
        </button>
    </div>
</section>
