<section id="page_home" class="active">
    <div class="logo_wrapper">
        <div class="envelope">
            <div class="paper"></div>
        </div>
    </div>
    <div class="home_buttons">
        <button
                id="write_letter_button"
                type="button"
                class="comp_button_red_46 home_button send_button"
        >
            편지 남기기
        </button>
        <button
                type="button"
                class="comp_button_dark_gray_46 js_page_toggle home_button receive_button"
                data-target="receive"
        >
            편지 찾기
        </button>
        <button
                type="button"
                class="comp_button_dark_blue_46 js_page_toggle home_button introduce_button"
                data-target="introduce"
        >
            서비스 소개
        </button>
    </div>
</section>
