{% extends 'base.twig' %}

{% block title %}
    Seal Seek See
{% endblock %}

{% block css %}
    <style>
        body {
            padding-top: 30px;
        }
    </style>
{% endblock %}

{% block container %}
    <div class="container">
        <div class="jumbotron">
            <p><a href="/letter/write" class="btn btn-default">편지 쓰기</a></p>
            <p><a href="/letter/check" class="btn btn-default">편지 읽기</a></p>
        </div>
    </div>
{% endblock %}
