{% extends 'base.twig' %}

{% block title %}
    Seal Seek See
{% endblock %}

{% block css %}
    <style>
        body {
            padding-top: 30px;
        }
    </style>
{% endblock %}

{% block container %}
    <div class="container">
        <div class="jumbotron">
            <p>Hello World!</p>
        </div>
    </div>
{% endblock %}
