<section id="page_home" class="active">
    <div class="logo_wrapper">
        {# TODO: 로고 이미지 교체 #}
        <span class="logo ti-anchor"></span>
    </div>
    <div class="home_buttons">
        <button
                type="button"
                class="comp_button_red_46 js_page_toggle home_button send_button"
                data-target="send"
        >
            편지 남기기
        </button>
        <button
                type="button"
                class="comp_button_dark_gray_46 js_page_toggle home_button receive_button"
                data-target="receive"
        >
            편지 찾기
        </button>
    </div>
</section>
