<section id="page_introduce">
    <article class="introduce_wrapper">
        <div class="main_concept_text">
            <p class="concept">
                <strong class="concept_name">Seal</strong>
                <span class="concept_meaning">봉하다</span>
            </p>
            <p class="concept">
                <strong class="concept_name">Seek</strong>
                <span class="concept_meaning">찾다</span>
            </p>
            <p class="concept">
                <strong class="concept_name">See</strong>
                <span class="concept_meaning">보다</span>
            </p>
        </div>
        <p class="desc_text main_desc_text">
            저희 Seal Seek See는 작성자가 쓴 편지를 임의의 장소에 남겨두면, 편지를 받는 사람이<br>
            해당 장소에 방문해야만 편지를 읽을 수 있게하는 서비스입니다.
        </p>
        <div class="desc_section">
            <p id="introduce_write_letter" class="desc_section_header"><span class="ti-clip"></span> 편지 남기기</p>
            <div class="desc_context">
                <p class="desc_text">홈 화면에서 '편지 남기기' 버튼을 클릭하면, 편지를 작성하는 화면으로 이동합니다.</p>
                <ul class="desc_list">
                    <li class="desc_list_item">
                        본인의 휴대전화 번호와 상대방의 휴대전화 번호를 입력해주세요.
                        <ul class="desc_list inner_list">
                            <li class="desc_list_item">본인의 휴대전화 번호는 선택 입력 사항입니다.</li>
                            <li class="desc_list_item">본인의 휴대전화 번호를 입력하면 상대방이 편지를 찾아 읽었을 때, 문자 메시지를 보내드립니다. 또한, 상대방에게 '답장하기' 버튼이 나타납니다.</li>
                        </ul>
                    </li>
                    <li class="desc_list_item">편지의 제목과 내용을 입력해주세요.</li>
                    <li class="desc_list_item">지도를 움직여 편지를 남길 장소를 지정하세요. 지도의 중간에 있는 핀이 있는 곳에 편지가 남겨집니다.</li>
                    <li class="desc_list_item">'편지 남기기' 버튼을 클릭하면, 상대방에게 문자 메세지로 편지를 찾을 수 있는 암호 단어 3개가 전송됩니다.</li>
                </ul>
            </div>
        </div>
        <div class="desc_section">
            <p id="introduce_find_letter" class="desc_section_header"><span class="ti-clip"></span> 편지 찾기</p>
            <div class="desc_context">
                <p class="desc_text">
                    편지가 남겨지게 되면, 편지를 받는 사람에게 편지가 어디 남겨져 있는지 확인할 수 있는 암호 단어 3개가 문자 메세지로 전송됩니다.<br>
                    저희 서비스에 접속하여 홈 화면에 있는 '편지 찾기' 버튼을 클릭하면, 편지를 찾기 위한 암호 단어를 입력하는 화면으로 이동합니다.
                </p>
                <ul class="desc_list">
                    <li class="desc_list_item">본인(편지를 받는 사람)의 휴대전화 번호를 입력하세요.</li>
                    <li class="desc_list_item">문자 메세지로 전송된 3개의 암호 단어를 <strong>순서대로</strong> 입력하세요.</li>
                    <li class="desc_list_item">'편지 찾기' 버튼을 클릭하면, 내 위치와 편지가 남겨진 곳이 지도에 뜨게 됩니다.</li>
                    <li class="desc_list_item">편지를 찾으러 가봅시다!</li>
                    <li class="desc_list_item">내 위치와 편지가 남겨진 장소와의 거리가 300m 보다 가까워지면, '편지 읽기' 버튼이 활성화됩니다.</li>
                </ul>
            </div>
        </div>
        <div class="desc_section">
            <p id="introduce_read_letter" class="desc_section_header"><span class="ti-clip"></span> 편지 읽기</p>
            <div class="desc_context">
                <p class="desc_text">편지가 남겨진 곳을 알려주는 지도 화면에서 활성화된 '편지 읽기' 버튼을 클릭하면, 편지 내용을 볼 수 있는 화면으로 이동합니다.</p>
                <ul class="desc_list">
                    <li class="desc_list_item">상대방이 내게 남긴 편지의 제목과 내용을 확인하세요!</li>
                    <li class="desc_list_item">
                        상대방이 내게 편지를 남길 때 자신의 번호를 입력한 경우,
                        <ul class="desc_list inner_list">
                            <li class="desc_list_item">
                                상대방에게 편지를 읽었다는 문자 메세지가 전송됩니다.
                            </li>
                            <li class="desc_list_item">
                                '답장하기' 버튼이 활성화됩니다. '답장하기' 버튼을 클릭하면, 상대방에게 편지를 작성할 수 있는 화면으로 이동합니다.
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="bottom_info_wrapper">
            <div class="team_introduce">
                <p class="team_name">
                    연세대학교 2017-1<br>
                    인터넷프로그래밍<br>
                    팀 프로젝트<br>
                    <strong class="team_name_text">"404 Not Found" 팀</strong>
                </p>
                <ul class="team_member_list">
                    <li class="team_member">심리학과 유대열 (팀장)</li>
                    <li class="team_member">컴퓨터과학과 김시준</li>
                    <li class="team_member">수학과 김유진</li>
                    <li class="team_member">심리학과 오윤석</li>
                    <li class="team_member">지구시스템과학과 박홍욱</li>
                </ul>
            </div>
        </div>
        <small class="copyright">&copy; 2017 404 Not Found (Yonsei university)</small>
    </article>
</section>
