<section id="page_read">
    <article class="message_area_wrapper">
        <div class="message_area">
            <p id="read_letter_title" class="mail_title"></p>
            <p id="read_letter_content" class="mail_context"></p>
        </div>
    </article>
    <div id="reply_letter_container" class="bottom_button_wrapper">
        <button id="reply_letter_button" type="button" class="receive_button comp_button_red_46">
            답장하기
        </button>
    </div>
</section>
